<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.49.2" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Flink Tutorial (2) &middot; zhiymatt Blog</title>

  
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/hyde.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://zhiymatt.gitlab.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://zhiymatt.gitlab.io/favicon.png">

  
  <link href="" rel="alternate" type="application/rss+xml" title="zhiymatt Blog" />

  <style>

    img.leftalign
    {
        display: inline;
        vertical-align: top;
        float: none;
    }

    
    code.has-jax {
        font: inherit;
        font-size: 100%;
        background: inherit;
        border: inherit;
        color: #515151;
    }
    
</style>


<script type="text/javascript"
        async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[\[','\]\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});

MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>

</head>

  <body class=" ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://zhiymatt.gitlab.io/"><h1>zhiymatt Blog</h1></a>
      <p class="lead">
      
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="https://zhiymatt.gitlab.io/">Home</a> </li>
        <li><a href=""> Blog </a></li><li><a href="https://zhiymatt.gitlab.io/page/about/"> About </a></li><li><a href="https://zhiymatt.gitlab.io/categories"> Categories </a></li><li><a href="https://zhiymatt.gitlab.io/tags"> Tags </a></li>
      </ul>
    </nav>

    <p>&copy; 2019. All rights reserved. </p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>Flink Tutorial (2)</h1>
  <time datetime=2018-12-24T00:08:40-0700 class="post-date">Mon, Dec 24, 2018</time>
  <p>Flink Tutorial (2): Doc-Links.</p>

<p></p>

<hr />

<h3 id="concepts">Concepts</h3>

<ul>
<li><p>Programming Model</p>

<p><a href="https://ci.apache.org/projects/flink/flink-docs-release-1.7/concepts/programming-model.html">https://ci.apache.org/projects/flink/flink-docs-release-1.7/concepts/programming-model.html</a></p></li>

<li><p>Distributed Runtime</p>

<p><a href="https://ci.apache.org/projects/flink/flink-docs-release-1.7/concepts/runtime.html">https://ci.apache.org/projects/flink/flink-docs-release-1.7/concepts/runtime.html</a></p></li>
</ul>

<h3 id="tutorial">Tutorial</h3>

<ul>
<li><p>API Tutorials</p>

<ul>
<li><p>DataStream API</p>

<p><a href="https://ci.apache.org/projects/flink/flink-docs-release-1.7/tutorials/datastream_api.html">https://ci.apache.org/projects/flink/flink-docs-release-1.7/tutorials/datastream_api.html</a></p>

<p>ps:</p>

<ol>
<li><a href="http://www.runoob.com/maven/maven-tutorial.html">Maven Tutorial</a></li>
<li>The flink-clients dependency is only necessary to invoke the Flink program locally (for example to run it standalone for testing and debugging). If you intend to only export the program as a JAR file and run it on a cluster, you can skip that dependency.</li>

<li><p>Fold【KeyedStream → DataStream: 一个有初始值的分组数据流的滚动折叠操作. 合并当前元素和前一次折叠操作的结果，并产生一个新的值.】Fold操作不断更新并产生新数据。</p>

<p>下面的fold函数就是当我们输入一个 (1,2,3,4,5)的序列, 将会产生一下面的句子:&ldquo;start-1&rdquo;, &ldquo;start-1-2&rdquo;, &ldquo;start-1-2-3&rdquo;, &hellip;</p>

<pre><code class="language-java">val result: DataStream[String] = 
    keyedStream.fold(&quot;start&quot;)((str, i) =&gt; { str + &quot;-&quot; + i })
</code></pre></li>
</ol></li>
</ul></li>

<li><p>Setup Tutorials</p>

<ul>
<li><p>Local Setup</p>

<p><a href="https://ci.apache.org/projects/flink/flink-docs-release-1.7/tutorials/local_setup.html">https://ci.apache.org/projects/flink/flink-docs-release-1.7/tutorials/local_setup.html</a></p></li>

<li><p>Running Flink on Windows</p>

<p><a href="https://ci.apache.org/projects/flink/flink-docs-release-1.7/tutorials/flink_on_windows.html">https://ci.apache.org/projects/flink/flink-docs-release-1.7/tutorials/flink_on_windows.html</a></p></li>
</ul></li>

<li><p>Examples</p>

<p><a href="https://ci.apache.org/projects/flink/flink-docs-release-1.7/examples/">https://ci.apache.org/projects/flink/flink-docs-release-1.7/examples/</a></p></li>
</ul>
</div>


    </main>

    
  </body>
</html>
