<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.49.2" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>在Hugo Post里嵌入HTML页面 &middot; zhiymatt Blog</title>

  
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/poole.css">
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="https://zhiymatt.gitlab.io/css/hyde.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|PT+Sans:400,400i,700">


  
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://zhiymatt.gitlab.io/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="https://zhiymatt.gitlab.io/favicon.png">

  
  <link href="" rel="alternate" type="application/rss+xml" title="zhiymatt Blog" />

  <style>

    img.leftalign
    {
        display: inline;
        vertical-align: top;
        float: none;
    }

    
    code.has-jax {
        font: inherit;
        font-size: 100%;
        background: inherit;
        border: inherit;
        color: #515151;
    }
    
</style>


<script type="text/javascript"
        async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[\[','\]\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});

MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>

</head>

  <body class=" ">
  <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="https://zhiymatt.gitlab.io/"><h1>zhiymatt Blog</h1></a>
      <p class="lead">
      
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="https://zhiymatt.gitlab.io/">Home</a> </li>
        <li><a href=""> Blog </a></li><li><a href="https://zhiymatt.gitlab.io/page/about/"> About </a></li><li><a href="https://zhiymatt.gitlab.io/categories"> Categories </a></li><li><a href="https://zhiymatt.gitlab.io/tags"> Tags </a></li>
      </ul>
    </nav>

    <p>&copy; 2019. All rights reserved. </p>
  </div>
</aside>

    <main class="content container">
    <div class="post">
  <h1>在Hugo Post里嵌入HTML页面</h1>
  <time datetime=2018-11-13T16:28:40-0700 class="post-date">Tue, Nov 13, 2018</time>
  <p>可用于嵌入静态的ipynb（先转换成html）</p>

<p></p>

<ol>
<li><p>把HTML页面的后缀改为<code>.hugohtml</code>并放在<code>content/hugohtml/</code>目录下，let&rsquo;s say，这个文件叫<code>xxx.hugohtml</code> （不改后缀的话似乎找不到这个资源）</p></li>

<li><p>在<code>config.toml</code>里加入<code>hugohtml</code>这一项resources</p>

<pre><code>[[resources]]
  name = &quot;hugohtml-file-:counter&quot;
  src = &quot;**.hugohtml&quot;
  [resources.params]
    icon = &quot;hugohtml&quot;
</code></pre></li>

<li><p>在<code>layouts/shortcodes</code>目录下新建<code>import_hugohtml.html</code>文件，内容为：</p>

<pre><code>&lt;script&gt;
     function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
     }
&lt;/script&gt;
&lt;iframe name=&quot;&quot; frameborder=&quot;0&quot; scrolling=&quot;yes&quot; marginwidth=&quot;0&quot; marginheight=&quot;0&quot;  width=&quot;100%&quot; height=&quot;500%&quot; onload=&quot;resizeIframe(this)&quot; src=&quot;/hugohtml/{{ .Get 0 }}&quot;&gt;&lt;/iframe&gt;
</code></pre></li>

<li><p>在要插入到的<code>.md</code>文件中，加入（把四个斜杠去掉）</p>

<pre><code>\{\{&lt; import_hugohtml &quot;xxxx.hugohtml&quot; &gt;\}\}
</code></pre></li>

<li><p>效果如下</p>

<script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
<iframe name="" frameborder="0" scrolling="yes" marginwidth="0" marginheight="0"  width="100%" height="500%" onload="resizeIframe(this)" src="https://zhiymatt.gitlab.io/hugohtml/data_loading_tutorial.hugohtml"></iframe></li>
</ol>
</div>


    </main>

    
  </body>
</html>
