<script>
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
<iframe name="" frameborder="0" scrolling="yes" marginwidth="0" marginheight="0"  width="100%" height="500%" onload="resizeIframe(this)" src="/hugohtml/{{ .Get 0 }}"></iframe>